---

---

<>
    <section class="w-full py-15 flex flex-col justify-center items-center">
        <div class="">
            <p
                class="uppercase font-jetbrain font-bold tracking-[0.5em] text-sm font-mono"
            >
                2026 devOC. Hecho con 💙 y mucho café.
            </p>
        </div>
    </section>
    <footer class="flex justify-between items-center mx-8 my-8">
        <div class="flex gap-8 items-center">
            <h3 class="font-bold font-montserrat text-white">
                dev<span class="text-[#06B6D4] font-bold">OC</span>
            </h3>
            <span>|</span>
            <span
                class="text-[#94A3B8] font-mono uppercase text-sm font-jetbrain"
                >diseñado & desarrollado por devOC</span
            >
        </div>
    </footer>
</>
