---

---

<section>
    <div>
        <h2>Mi Ecosistema Tecnológico</h2>
        <p>
            No me caso con una sola herramienta; <span
                >elijo la mejor arma para cada batalla</span
            >
        </p>
        <p>Aquí es donde me muevo con fluidez:</p>
    </div>
    <div>
        <div>
            <h3>Frontend <span>&</span> UI</h3>
            <p>DONDE EL DISEÑO COBRA VIDA</p>
        </div>
        <div>
            <div>
                <img src="/react-svgrepo-com.svg" alt="" class="w-10 h-10" />
                <span>React / Next.js</span>
            </div>
            <div>
                <img
                    src="/typescript-official-svgrepo-com.svg"
                    alt=""
                    class="w-10 h-10"
                />
                <span>TypeScript</span>
            </div>
            <div>
                <img src="/tailwind-svgrepo-com.svg" alt="" class="w-10 h-10" />
                <span>Tailwind</span>
            </div>
        </div>
    </div>
    <div>
        <div>
            <h3>Backend <span>&</span> Arquitectura</h3>
            <p>EL MOTOR BAJO EL CAPÓ</p>
        </div>
        <div>
            <div>
                <img src="/python-svgrepo-com.svg" alt="" class="w-10 h-10" />
                <span>Python / FastAPI</span>
            </div>
            <div>
                <img
                    src="/postgresql-svgrepo-com.svg"
                    alt=""
                    class="w-10 h-10"
                />
                <span>PostgreSQL</span>
            </div>
            <div>
                <img src="/mongodb-svgrepo-com.svg" alt="" class="w-10 h-10" />
                <span>MongoDB</span>
            </div>
        </div>
    </div>
    <div>
        <div>
            <h3>DevOps <span>&</span> Herramientas</h3>
            <p>DESPLIEGUE Y OPTIMIZACIÓN</p>
        </div>
        <div>
            <div>
                <img src="/docker-svgrepo-com.svg" alt="" class="w-10 h-10" />
                <span>Docker</span>
            </div>
            <div>
                <img
                    src="/github-142-svgrepo-com.svg"
                    alt=""
                    class="w-10 h-10"
                />
                <span>Git / GitHub</span>
            </div>
            <div>
                <img src="/aws-svgrepo-com.svg" alt="" class="w-10 h-10" />
                <span>AWS</span>
            </div>
        </div>
    </div>
</section>
