---

---

<section class="max-w-7xl mx-auto py-28">
    <div class="mb-20 text-center md:text-left">
        <h2
            class="text-4xl lg:text-5xl text-[#F8FAFC] font-bold mb-6 font-montserrat"
        >
            Mi Ecosistema Tecnológico
        </h2>
        <p class="max-w-2xl text-lg leading-relaxed text-[#94A3B8]">
            No me caso con una sola herramienta; <span
                class="text-white font-bold"
                >elijo la mejor arma para cada batalla</span
            >
        </p>
        <p class="text-lg leading-relaxed text-[#94A3B8]">
            Aquí es donde me muevo con fluidez:
        </p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
        <div
            class="p-10 rounded-[2.5rem] bg-[#1E293B] border border-slate-800/50 hover:border-[#06B6D4] transition-all duration-500 group shadow-xl"
        >
            <div>
                <h3 class="text-xl font-bold text-white mb-2 font-montserrat">
                    Frontend <span class="text-[#06B6D4]">&</span> UI
                </h3>
                <p
                    class="font-jetbrains text-[12px] mb-10 tracking-[0.2em] opacity-80"
                >
                    DONDE EL DISEÑO COBRA VIDA
                </p>
            </div>
            <div>
                <div class="flex items-center gap-2">
                    <img
                        src="/react-svgrepo-com.svg"
                        alt=""
                        class="w-10 h-10"
                    />
                    <span>React / Next.js</span>
                </div>
                <div>
                    <img
                        src="/typescript-official-svgrepo-com.svg"
                        alt=""
                        class="w-10 h-10"
                    />
                    <span>TypeScript</span>
                </div>
                <div>
                    <img
                        src="/tailwind-svgrepo-com.svg"
                        alt=""
                        class="w-10 h-10"
                    />
                    <span>Tailwind</span>
                </div>
            </div>
        </div>
        <div>
            <div>
                <h3>Backend <span>&</span> Arquitectura</h3>
                <p>EL MOTOR BAJO EL CAPÓ</p>
            </div>
            <div class="">
                <div class="flex">
                    <img
                        src="/python-svgrepo-com.svg"
                        alt=""
                        class="w-10 h-10"
                    />
                    <span>Python / FastAPI</span>
                </div>
                <div>
                    <img
                        src="/postgresql-svgrepo-com.svg"
                        alt=""
                        class="w-10 h-10"
                    />
                    <span>PostgreSQL</span>
                </div>
                <div>
                    <img
                        src="/mongodb-svgrepo-com.svg"
                        alt=""
                        class="w-10 h-10"
                    />
                    <span>MongoDB</span>
                </div>
            </div>
        </div>
        <div>
            <div>
                <h3>DevOps <span>&</span> Herramientas</h3>
                <p>DESPLIEGUE Y OPTIMIZACIÓN</p>
            </div>
            <div>
                <div>
                    <img
                        src="/docker-svgrepo-com.svg"
                        alt=""
                        class="w-10 h-10"
                    />
                    <span>Docker</span>
                </div>
                <div>
                    <img
                        src="/github-142-svgrepo-com.svg"
                        alt=""
                        class="w-10 h-10"
                    />
                    <span>Git / GitHub</span>
                </div>
                <div>
                    <img src="/aws-svgrepo-com.svg" alt="" class="w-10 h-10" />
                    <span>AWS</span>
                </div>
            </div>
        </div>
    </div>
</section>
