---

---

<section class="max-w-7xl mx-auto py-28 border-b border-gray-50/10">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10 items-center">
        <div>
            <img
                src="/ChatGPT Image 11 feb 2026, 15_56_17.png"
                alt=""
                class="w-full h-auto rounded-2xl mask-[radial-gradient(ellipse_at_center,black_50%,transparent_70%)]"
            />
        </div>
        <div>
            <h3
                class="text-4xl lg:text-5xl text-[#F8FAFC] font-bold mb-6 font-montserrat"
            >
                M치s all치 del c칩digo.
            </h3>
            <div>
                <p
                    class="max-w-2xl text-lg leading-relaxed text-[#94A3B8] mb-4"
                >
                    Hola, soy devOC. <span class="text-4xl">游녦</span>
                </p>
                <p
                    class="max-w-2xl text-lg leading-relaxed text-[#94A3B8] mb-4"
                >
                    Soy <span class="font-bold text-[#06B6D4]"
                        >desarrollador de software en formaci칩n</span
                    >, actualmente cursando Ingenier칤a Inform치tica, con base
                    previa en DAW. Aunque mi camino acad칠mico sigue en progreso,
                    gran parte de mis habilidades las he desarrollado de forma
                    autodidacta, construyendo proyectos reales y profundizando
                    por mi cuenta en tecnolog칤as modernas.
                </p>
                <p
                    class="max-w-2xl text-lg leading-relaxed text-[#94A3B8] mb-4"
                >
                    Trabajo principalmente en entornos full-stack, desarrollando
                    aplicaciones completas que integran frontend, backend, bases
                    de datos y procesos automatizados. Me enfoco especialmente
                    en la creaci칩n de dashboards, sistemas de gesti칩n y
                    herramientas orientadas a resolver necesidades pr치cticas,
                    prestando atenci칩n tanto a la arquitectura como a la
                    experiencia de usuario.
                </p>
                <p
                    class="max-w-2xl text-lg leading-relaxed text-[#94A3B8] mb-4"
                >
                    Me caracterizo por un aprendizaje constante, iniciativa
                    propia y un enfoque muy pr치ctico: aprendo construyendo.
                    Busco seguir creciendo dentro de un equipo donde pueda
                    aportar desde el primer momento, asumir retos t칠cnicos y
                    evolucionar como desarrollador.
                </p>
            </div>
        </div>
    </div>
</section>
