---
import ScrollToTop from '../components/ScrollToTop.astro';
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="icon" href="/favicon.ico" />
        <link rel="stylesheet" href="../styles/global.css" />

        <!-- Montserrat -->
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap"
            rel="stylesheet"
        />

        <!-- Nunito -->
        <link
            href="https://fonts.googleapis.com/css2?family=Nunito:wght@200..900&display=swap"
            rel="stylesheet"
        />

        <!-- JetBrains Mono -->
        <link
            href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..800&display=swap"
            rel="stylesheet"
        />
        <meta name="generator" content={Astro.generator} />
        <title>TizoG Portfolio</title>
    </head>
    <body class="bg-[#0F172A] text-gray-500 relative">
        <div
            class="absolute top-0 left-0 -z-10 h-120 w-120 rounded-full bg-[#06B6D4]/10 blur-3xl"
        >
        </div>
        <main class="">
            <slot />
        </main>
        <ScrollToTop />
    </body>
</html>
